*
{
    margin: 0px;
    padding: Opx;
}

body
{
    background-color:cadetblue ;
    font: 14px;
    font-family: Cambria;
}

#main_wrapper
{
    background-color:beige;
    border: 3px solid black;
    border-radius: 5px;
    width: 65%;
    margin: 50px auto;
}

#top_header,#main_footer
{
    background-color: cornflowerblue;
    color: beige;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#main_footer
{
    font-weight: bold;
}

#main_section div p a img
{
  width: 80px;
  height: 70px;  
}