*
{
    margin: 0px;
    padding: Opx;
}

body
{
    background-color:cadetblue ;
    font: 14px;
    font-family: cambria;
}

#main_wrapper
{
    background-color:beige;
    border: 3px solid black;
    border-radius: 5px;
    width: 65%;
    margin: 50px auto;
    text-align: center;
}

#top_header,#main_footer
{
    background-color: cornflowerblue;
    color: beige;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#main_section div
{
    display: inline-block;
    background-color:chocolate;
    margin: 3px;
    padding: 13px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    width: 14%;
    height: 100px;
    vertical-align: top;
}

#main_section div h1
{
    font: bold 12px cambria;
}

#main_section div p a img
{
  width: 80px;
  height: 70px;  
}

#main_footer
{
    font-weight: bold;
}

